/* Tabs */
.gdg-container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.gdg-tabs {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	background-color: var(--sec-bg-color);
	border-radius: 30px;
	padding: 5px !important;
	width: fit-content;
	margin: auto;
}

/* Search Bar */
.gdg-search-container {
	position: relative;
	width: 100%;
	max-width: 300px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.gdg-search-icon {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	color: #888;
	font-size: 18px;
	pointer-events: none;
}

.gdg-search-input {
	padding-left: 40px; /* leave space for the icon */
}

/* Events Grid */
.gdg-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

/* Event Card */
.gdg-event-card {
	border-radius: 10px;
	overflow: hidden;
	background-color: var(--bg-color);
	flex: 0 0 auto;
	border: 1px solid var(--border-color);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	height: fit-content;
	white-space: normal;
	overflow-wrap: break-word;
	word-wrap: break-word;
	animation: fadeSlideIn 0.6s ease-out both;
}

.gdg-event-card:hover {
	box-shadow: 0 4px 10px var(--color-shadow);
	transform: translateY(-5px);
}

.gdg-event-image {
	height: 170px;
	background-color: var(--img-bg-color);
	position: relative;
}

.gdg-event-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: none;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.gdg-event-type {
	position: absolute;
	top: 15px;
	left: 15px;
	background-color: var(--bg-color);
	padding: 5px 10px;
	border-radius: 4px;
	font-size: 12px;
	color: var(--text-color);
}

.gdg-event-content {
	padding: 20px;
	background-color: var(--bg-color);
}

.gdg-event-title {
	color: var(--text-color);
	font-size: 20px;
	margin: 0;
	font-weight: 400;
	word-wrap: break-word;
}

.gdg-event-details {
	margin-top: 15px;
	margin-bottom: 15px;
}

.gdg-event-detail {
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	font-size: 14px;
	color: var(--sec-text-color);
}

.gdg-event-icon {
	margin-right: 8px;
	color: var(--sec-text-color);
	font-size: 17px;
	flex-shrink: 0;
}

.gdg-event-description {
	font-size: 12px;
	color: var(--sec-text-color);
	margin-bottom: 15px;
	line-height: 1.6;
}

.gdg-grid.project .gdg-event-description {
	margin: 0 !important;
}

/* Details */
.user-body.eventdetails .event-hero-section {
	height: 400px;
	position: relative; /* Optional fallback */
}

.user-body.eventdetails .event-hero-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.user-body.eventdetails .event-hero-section img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	display: block;
}

.user-body.eventdetails .event-hero-container .btn-register {
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 10;
	width: fit-content;
}

.event-title-container {
	text-align: left;
	color: var(--text-color);
	width: 100%;
	display: flex;
	flex-direction: column;
}

.event-title-container h1 {
	font-size: 50px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 10px;
	line-height: 1;
}

.event-title-container p {
	font-size: 17px;
	max-width: 600px;
	margin: 0;
	width: fit-content;
	padding: 5px 20px;
	border-radius: 50px;
	text-align: center;
}

.event-title-container .event-Completed {
	background-color: #108d10;
	color: #ffffff !important;
}

.event-title-container .event-Upcoming {
	background-color: #0e3573;
	color: #ffffff !important;
}

.event-content {
	display: flex;
	gap: 100px;
	white-space: normal;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.event-content .event-left {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 30px;
	overflow-y: auto;
}

.event-content .event-left h2 {
	font-size: 35px;
	font-weight: 700;
	color: var(--text-color);
}

.event-content p {
	font-size: 14px;
	color: var(--sec-text-color) !important;
	font-weight: normal !important;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.event-content h3 {
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 15px;
	color: var(--text-color);
}

.event-content .event-organizers .organizer-list {
	display: flex;
	gap: 50px;
	overflow-x: auto;
	padding: 0;
	margin: 0;
	margin-top: 5px;
	list-style: none;
}

.event-content .event-organizers .organizer-list .organizer-item {
	display: flex;
	align-items: start;
	border-radius: 10px;
	gap: 15px;
	flex: 0 0 auto;
	white-space: normal;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
.event-content .event-organizers .profile-circle {
	width: 70px;
	height: 70px;
	flex-shrink: 0;
}

.profile-circle img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50px;
}

.event-content .event-organizers h4 {
	color: var(--text-color);
	font-size: 15px;
	margin: 0;
}

.event-content .event-right {
	flex: none;
	width: 350px;
	display: flex;
	flex-direction: column;
	border: 1px solid var(--border-color);
	padding: 20px;
	border-radius: 10px;
	height: fit-content;
}

.event-info-item {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	margin-bottom: 15px;
}

.event-icon {
	font-size: 20px;
	color: var(--bg-button-color);
	margin-top: 10px;
}

.event-content .event-right label,
.event-content .event-right p {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 14px;
	font-weight: 500;
	color: var(--text-color);
}

.spearker-section h2 {
	font-size: 35px;
	font-weight: 700;
	color: var(--text-color);
	text-align: center;
	margin-bottom: 50px;
}

.speaker-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 80px 100px;
	justify-content: center;
}

.speaker-member {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.speaker-photo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #e0e0e0;
	margin-bottom: 15px;
	object-fit: cover;
}

.speaker-info {
	text-align: center;
	max-width: 400px;
}

.speaker-info h3 {
	font-size: 20px;
	color: var(--text-color);
	font-weight: 500;
	margin: 0;
}

.speaker-info .view-profile {
	font-size: 14px;
	color: var(--bg-button-color);
	cursor: pointer;
}

@media (max-width: 1300px) {
	.gdg-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 920px) {
	.gdg-grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 50px;
	}

	.event-content {
		flex-direction: column;
		gap: 30px;
	}
	.event-content .event-right {
		width: 100%;
	}

	.speaker-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 80px 100px;
	}
	.speaker-grid:has(.core-member:only-child) {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 670px) {
	.user-body.eventdetails .event-hero-section {
		height: auto;
		min-height: 0;
	}

	.event-title-container {
		top: 50%;
	}
}

@media (max-width: 630px) {
	.speaker-grid {
		display: flex;
		flex-direction: row;
		overflow-x: auto;
		gap: 30px;
		justify-content: left;
	}
	.speaker-grid:has(.core-member:only-child) {
		justify-content: center;
	}
	.speaker-member {
		flex: 0 0 auto;
		width: 300px !important;
	}
}

@media (max-width: 550px) {
	.gdg-grid {
		grid-template-columns: repeat(1, 1fr);
		gap: none;
	}
}

@media (max-width: 520px) {
	.event-title-container h1 {
		font-size: 35px;
		line-height: 1;
		margin-bottom: 10px;
	}

	h2.section-title {
		font-size: 30px;
		margin-bottom: 10px;
	}
}
